.App {
  text-align: center;
  width: 1028px;
  background: #fbfbfb;
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 20px;
  text-align: left;
  font-weight: 500;
}

.wrapper {
  width: 65%;
  margin: 0 auto;
  margin-top: 50px;
}

.btn {
  background-color: #24a7f0;
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.search-btns {
  border-top: 1px solid #ced4da;
  margin-top: 40px;
}

.search-text {
  margin-left: 10px;
}

.btns-wrapper > button {
  width: 60px;
  padding: 5px;
}

.deleteBtn {
  color: black;
  display: inline-block;
  font-size: 14px;
  margin-right: 15px;
}

.row {
  /* display: flex; */
  /* align-items: left; */
  text-align: left;
  color: black;
  padding: 1em 1em;
  font-size: 20px;
  border: 1px solid #ced4da;
  cursor: pointer;
  border-radius: 0.3em;
  margin-bottom: 10px;
  background: #ffffff;
}

button {
  background-color: #24a7f0;
  color: white;
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin: 10px;
  margin-left: 0;
}

button:hover,
button:focus {
  background: #24a7f0;
}

.btns-wrapper {
  text-align: left;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.8);
}

select {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 5px;
  margin-right: 10px;
}

input {
  width: 250px;
  height: 17px;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.md {
  width: 33.333333%;
}

.sm {
  width: 16.666666%;
}

.xsm {
  width: 10.6%;
}

.lg {
  width: 50%;
}
.auto {
  width: auto;
}

.span {
  border: 1px solid #ced4da;
  padding: 5px 5px 5px 10px;
  margin: 0 5px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #ced4da;
}

.result {
  text-align: center;
  color: rgba(0, 0, 0);
  padding: 3em 1em;
  font-size: 20px;
  border: 1px solid #ced4da;
  cursor: pointer;
  border-radius: 0.3em;
  margin-bottom: 10px;
  background: #ffffff;
}
.result .resultPlaceHolder {
  color: rgba(0, 0, 0, 0.3);
  border: none;
  font-style: italic;
}
